* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.container {
  /* border: 2px solid green; */
  max-width: 61.25rem;
  width: 90%;
  margin: 2rem auto;
  padding: 4rem;
  overflow: auto;
  background-image: url('./images/pattern-curve.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 50% 20%;
  box-shadow: 3px 10px 20px 0 rgba(0, 0, 0, 0.1);
}
h1 {
  margin-top: 1.5rem;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  font-weight: 400;
  color: #1a193b;
}
h1 span {
  margin-left: 0.5rem;
  font-weight: 100;
}
p {
  line-height: 2rem;
  font-size: clamp(1.2rem, 1.8vw, 1.5rem);
  word-spacing: 0.3rem;
  font-weight: 300;
  color: #323347;
}
ul {
  position: relative;
  height: 30rem;
  overflow: auto;
  list-style: none;
}
ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
ul li .arrange {
  height: 100%;
  display: flex;
}
ul li .arrange .testimony {
  position: absolute;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  left: 3%;
  width: 60%;
  height: 30rem;
  z-index: 100;
  background-image: url('./images/pattern-quotes.svg');
  display: none;
  background-position: left 15% top 15%;
  background-repeat: no-repeat;
}
ul li .arrange .current {
  display: flex;
}
ul li .arrange .icon {
  width: 50%;
  position: absolute;
  right: 0;

  /* border: 1px solid red; */
  height: 30rem;
  background-image: url('./images/pattern-bg.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul li .arrange .icon figure {
  border-radius: 0.625rem;

  position: relative;
  width: 80%;
  height: 80%;
  /* border: 1px solid black; */
}
ul li .arrange .icon figure > img {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 0.625rem;
  height: 100%;
  width: 100%;
}
ul li .arrange .icon figure > .current {
  display: block;
}
.arrow {
  /* border: 1px solid red; */
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  width: 30%;
  padding: 10px;
  box-shadow: 3px 10px 20px 0 rgba(0, 0, 0, 0.1);
  bottom: -7%;
  left: 10%;
  z-index: 500;
}
.arrow > img {
  width: clamp(10px, 1.5vw, 20px);
}
@media (max-width: 700px) {
  .container {
    background-size: 60% 10%;
  }
  ul {
    height: unset;
  }
  ul li {
    width: 100%;
    height: 100%;
    position: relative;
  }
  ul li .arrange {
    display: flex;
    flex-direction: column-reverse;
  }
  ul li .arrange .testimony {
    position: relative;
    left: 0;
    width: 100%;
    height: 30rem;
    /* border: 1px solid red; */
    text-align: center;
  }
  ul li .arrange .icon {
    margin-bottom: 3rem;
    width: 100%;
    position: relative;
    right: 0;
  }
  ul li .arrange .testimony {
    background-position: left 50% top 15%;
  }
  .arrow {
    width: 20%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .arrow > img {
    width: clamp(0.7rem, 2vw, 1.25rem);
  }
  h1 {
    font-size: clamp(1rem, 2vw, 1.1rem);
  }
  h1 span {
    display: block;
  }
  p {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
  }
}
